__pycache__/
.idea
.venv
.env

bot/__pycache__/
bot/handlers/__pycache__/
bot/utils/__pycache__/
*/__pycache__/

bot/__pycache__/*
bot/handlers/__pycache__/*
bot/utils/__pycache__/*
*/__pycache__/*


